name: CI Pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  frontend-vulnerability-check:
    name: Frontend
    uses: ./.github/workflows/frontend-vulnerability-check.yml

  backend-vulnerability-check:
    name: Backend
    uses: ./.github/workflows/backend-vulnerability-check.yml

  frontend-lint-format-check:
    name: Frontend
    needs: frontend-vulnerability-check
    uses: ./.github/workflows/frontend-lint-format-check.yml

  backend-lint-format-check:
    name: Backend
    needs: backend-vulnerability-check
    uses: ./.github/workflows/backend-lint-format-check.yml

  frontend-unit-tests:
    name: Frontend
    needs: frontend-lint-format-check
    uses: ./.github/workflows/frontend-unit-tests.yml

  backend-unit-tests:
    name: Backend
    needs: backend-lint-format-check
    uses: ./.github/workflows/backend-unit-tests.yml

  backend-integration-tests:
    name: Backend
    needs: backend-unit-tests
    uses: ./.github/workflows/backend-integration-tests.yml

  e2e-tests:
    name: E2E
    needs: [frontend-unit-tests, backend-integration-tests]
    uses: ./.github/workflows/e2e-tests.yml

  frontend-build:
    name: Frontend
    needs: e2e-tests
    uses: ./.github/workflows/frontend-build.yml

  deploy-production:
    name: Deploy to production
    needs: frontend-build
    if: github.ref == 'refs/heads/master'
    uses: ./.github/workflows/deploy.yml
    secrets:
      DIGITAL_OCEAN_HOST_IP: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
      DIGITAL_OCEAN_USERNAME: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
      DIGITAL_OCEAN_SSH_KEY: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
      MEILISEARCH_MASTER_KEY: ${{ secrets.MEILISEARCH_MASTER_KEY }}

  pipeline-success:
    name: Pipeline success
    needs: deploy-production
    runs-on: ubuntu-latest
    if: success()
    steps:
      - run: echo "Deployment to imadsaddik.com was successful!"
