name: CI pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  frontend-vulnerability-check:
    name: Frontend
    uses: ./.github/workflows/frontend-vulnerability-check.yml

  backend-vulnerability-check:
    name: Backend
    uses: ./.github/workflows/backend-vulnerability-check.yml

  backend-sast-check:
    name: Backend
    uses: ./.github/workflows/backend-sast-check.yml

  frontend-lint-format-check:
    name: Frontend
    needs: frontend-vulnerability-check
    uses: ./.github/workflows/frontend-lint-format-check.yml

  backend-lint-format-check:
    name: Backend
    needs: [backend-vulnerability-check, backend-sast-check]
    uses: ./.github/workflows/backend-lint-format-check.yml

  dast-check:
    name: Backend
    needs: backend-lint-format-check
    uses: ./.github/workflows/dast-scan.yml
    secrets: inherit

  frontend-unit-tests:
    name: Frontend
    needs: frontend-lint-format-check
    uses: ./.github/workflows/frontend-unit-tests.yml

  backend-unit-tests:
    name: Backend
    needs: backend-lint-format-check
    uses: ./.github/workflows/backend-unit-tests.yml

  backend-integration-tests:
    name: Backend
    needs: backend-unit-tests
    uses: ./.github/workflows/backend-integration-tests.yml

  e2e-tests:
    name: E2E
    needs: [frontend-unit-tests, backend-integration-tests]
    uses: ./.github/workflows/e2e-tests.yml

  frontend-build:
    name: Frontend
    needs: e2e-tests
    uses: ./.github/workflows/frontend-build.yml

  pipeline-success:
    name: Pipeline success
    needs: frontend-build
    runs-on: ubuntu-latest
    if: success()
    steps:
      - run: echo "Pipeline completed successfully!"
