name: CI pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  frontend-lint-format-check:
    name: Frontend
    uses: ./.github/workflows/frontend-lint-format-check.yml

  backend-lint-format-check:
    name: Backend
    uses: ./.github/workflows/backend-lint-format-check.yml

  frontend-unit-tests:
    name: Frontend
    needs: frontend-lint-format-check
    uses: ./.github/workflows/frontend-unit-tests.yml

  backend-unit-tests:
    name: Backend
    needs: backend-lint-format-check
    uses: ./.github/workflows/backend-unit-tests.yml

  backend-integration-tests:
    name: Backend
    needs: backend-unit-tests
    uses: ./.github/workflows/backend-integration-tests.yml

  e2e-tests:
    name: E2E
    needs: [frontend-unit-tests, backend-integration-tests]
    uses: ./.github/workflows/e2e-tests.yml

  frontend-build:
    name: Frontend
    needs: e2e-tests
    uses: ./.github/workflows/frontend-build.yml

  success:
    name: Pipeline success
    needs: frontend-build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Pipeline succeeded
        if: "!contains(needs.frontend-build.result, 'failure') && !contains(needs.frontend-build.result, 'cancelled')"
        run: echo "All checks passed successfully!"
      - name: Pipeline failed
        if: contains(needs.frontend-build.result, 'failure') || contains(needs.frontend-build.result, 'cancelled')
        run: |
          echo "Some checks failed or were cancelled."
          exit 1
