name: CI pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  frontend-lint-format-check:
    name: Frontend
    uses: ./.github/workflows/frontend-lint-format-check.yml

  backend-lint-format-check:
    name: Backend
    uses: ./.github/workflows/backend-lint-format-check.yml

  frontend-tests:
    name: Frontend
    needs: frontend-lint-format-check
    uses: ./.github/workflows/frontend-unit-tests.yml

  backend-tests:
    name: Backend
    needs: backend-lint-format-check
    uses: ./.github/workflows/backend-unit-tests.yml
