name: Deploy to production

on:
  workflow_call:
    secrets:
      DIGITAL_OCEAN_HOST_IP:
        required: true
      DIGITAL_OCEAN_USERNAME:
        required: true
      DIGITAL_OCEAN_SSH_KEY:
        required: true
      MEILISEARCH_MASTER_KEY:
        required: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://imadsaddik.com

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Download frontend artifact
        uses: actions/download-artifact@v6
        with:
          name: frontend-build
          path: ./frontend/dist

      - name: Create backups (SQLite & Meilisearch)
        uses: appleboy/ssh-action@v1.2.4
        env:
          MEILISEARCH_KEY: ${{ secrets.MEILISEARCH_MASTER_KEY }}
        with:
          host: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          envs: MEILISEARCH_KEY
          script: |
            BACKEND_DIR="/web_app/backend"
            BACKUP_DIR="/web_app/backups"
            BACKUP_RETENTION_COUNT=5
            TIMESTAMP=$(date +%Y%m%d%H%M%S)

            # 1. Create backup directory
            mkdir -p $BACKUP_DIR

            # 2. Backup SQLite database
            echo "Backing up SQLite database..."
            if [ -f "$BACKEND_DIR/visitors.db" ]; then
              cp "$BACKEND_DIR/visitors.db" "$BACKUP_DIR/visitors_$TIMESTAMP.db"
            else
              echo "Warning: No SQLite database found in $BACKEND_DIR"
            fi

            # 3. Backup Meilisearch
            echo "Triggering Meilisearch dump..."
            if [ -n "$MEILISEARCH_KEY" ]; then
               curl -X POST 'http://127.0.0.1:7700/dumps' \
                -H "Authorization: Bearer $MEILISEARCH_KEY"
            else
               echo "Error: MEILISEARCH_KEY secret is empty."
               exit 1
            fi

            # 4. Rolling Retention
            echo "Cleaning old backups..."
            sudo /usr/local/bin/clean_backups.sh $BACKUP_RETENTION_COUNT
            echo "Backup process finished."

      - name: Rsync files to droplet
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          REMOTE_USER: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          SOURCE: "./"
          TARGET: "/web_app/"
          ARGS: "-avzr --delete --exclude-from='rsync_exclude.txt'"

      - name: Create backend .env file
        uses: appleboy/ssh-action@v1.2.4
        env:
          MEILISEARCH_KEY: ${{ secrets.MEILISEARCH_MASTER_KEY }}
        with:
          host: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          envs: MEILISEARCH_KEY
          script: |
            echo "Creating backend .env file..."
            cat > /web_app/backend/.env <<EOF
            MEILISEARCH_URL=http://127.0.0.1:7700
            MEILISEARCH_INDEX_NAME=articles
            MEILISEARCH_MASTER_KEY=$MEILISEARCH_KEY
            EOF

      - name: Restart services
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          script: |
            echo "Updating Python dependencies..."
            cd /web_app/backend
            source venv/bin/activate
            pip install -r requirements.txt

            echo "Restarting supervisor..."
            sudo supervisorctl restart all

            echo "Reloading Nginx..."
            sudo systemctl reload nginx

            echo "Deployment complete!"
